:root {
    --main-bg-color: #1789FC;
    --main-text-color: #1789FC;
    --second-text-color: #d1d1d3;
    --second-bg-color: #d1d1d3;
  }

 
  
  .primary-text {
    color: var(--main-text-color) !important;
  }
  
  .second-text {
    color: var(--second-text-color) !important;
  }
  
  .primary-bg {
    background-color: var(--main-bg-color) !important;
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color) !important;
  }
  
  .rounded-full {
    border-radius: 100% !important;
  }
  
  #wrapper {
    overflow-x: hidden !important;
    background-color: whitesmoke  !important;
  }
  
  #sidebar-wrapper {
    min-height: 100vh !important;
    margin-left: -15rem !important;
    -webkit-transition: margin 0.25s ease-out !important;
    -moz-transition: margin 0.25s ease-out !important;
    -o-transition: margin 0.25s ease-out !important;
    transition: margin 0.25s ease-out !important;
    background-color: var(--main-text-color) ;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem !important;
    
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem !important;
    font-size: 15px !important;
  }
  
  #page-content-wrapper {
    min-width: 100vw !important;
  }
  
  #navbar-admin{
    filter: drop-shadow(0 10px 3px #cbd7e2);
  }


  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0 !important;
  }
  
  #menu-toggle {
    cursor: pointer !important;
  }
  
  .list-group-item {
    border: none !important;
    padding: 20px 30px !important;
  }
  
  .list-group-item.active {
    background-color: transparent !important;
    color: #fff !important;
    font-weight: bold !important;
    border: none !important;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0 !important;
    }
  
    #page-content-wrapper {
      min-width: 0 !important;
      width: 100% !important;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem !important;
    }

    
  }


  @media only screen and (max-width: 600px) {
    #nameAvatar{
      display: none;
    }
  }